/*
font-family: 'Stylish', sans-serif;
*/


*{ /*reset browser css rules*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{ /*apply our custom css rules*/
    font-family: 'Kodchasan', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Stylish', sans-serif;
}

a{ /*styles for anchor tag*/
    color: white; /*text color*/
}

ul{ /*styles for unordered lists*/
    list-style: none;
}

hr{
    width: 150px;
    height: 2px;
    background-color: blue;
    border: 0;
    margin: 40px auto;
}

#top{
    background-color: grey;
}


/*----------------------
traveling
----------------------*/

#famous-quotes{
    background-color: gray;
    padding-bottom: 40px;
    text-align: center;
}

#famous-quotes .portrait-photos{
    border-radius: 50%;
    border: 4px solid #2196f3;
    margin-bottom: 10px;
}

#famous-quotes .portrait-photos:first-child{
    margin-top: 20px;
}

#famous-quotes .quote{
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}

#famous-quotes .author{
    margin: 20px auto;
}

#famous-quotes .author:last-child{
    margin-bottom: 0;
}

@media(max-width: 1000px){
    #famous-quotes .quote{
        font-size: 18px;
        padding: 0 20px;
    }
    #famous-quotes .author{
        font-size: 14px
    }
}


/*----------------------
traveling
----------------------*/

#getting-around{
    text-align: center;
    max-width: 800px;
    margin: 0 auto; /*centered*/
}

#getting-around ul.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 60px;
}

#getting-around p{
    margin-bottom: 20px
}

#getting-around ul.grid li{
    flex-basis: 30%;
    padding: 0 20px;
    margin-bottom: 40px;
}

.ico{
    font-size: 40px;
    color: darkblue;
    margin-bottom: 20px;
}

#getting-around ul.grid h4{
    color: #555;
    font-size: 20px;
    margin-bottom: 10px;
}

#getting-around ul.grid li p{
    text-align: left;
    margin: 0;
}

@media(max-width: 1000px){
    #getting-around{
        padding: 0 40px;
    }
    #getting-around ul.grid li{
        flex-basis: 70%;
        margin-bottom: 65px;
    }
    #getting-around ul.grid li p{
        text-align: center;
    }
}


/*----------------------
gallery
----------------------*/

#gallery{
    background-color: grey;
}

#gallery .grid li{
    padding: 20px;
    height: 350px;
    border-radius: 3px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: #333;
}

#gallery ul.grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gallery .grid li.small{
    flex-basis: 40%; /*flex space for a child item*/
}

#gallery .grid li.large{
    flex-basis: 60%; /*flex space for a child item*/
}

#gallery p{
    max-width: 800px;
    text-align: center;
    margin: 0 auto 35px;
    padding: 0 20px;
    line-height: 2;
}

@media(max-width: 1000px){
    #gallery .grid li.small,
    #gallery .grid li.large{
        flex-basis: 100%;
    }
}

/*----------------------
about me rules
----------------------*/

div h3.title{
    color: aliceblue;
    text-transform: capitalize;
    font-size: 32;
    margin-bottom: 35px;
    text-align: center;
}

#about{
    padding: 10px;
    background-color: indianred;
    margin-bottom: 20px;
}
#two-cols{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.about-img{
    border: 4px solid #2196f3;
    background-color: #2196f3;
}
.about-bio{
    width: 65%;
    max-width: 800px;
    line-height: 2;
    margin-left: 20px;
}
@media(max-width:600px){
    #about, #two-cols{
        flex-direction: column; /*stack the columns*/
    }
    .about-bio{
        margin-top: 20px;
        line-height: 1.5;
        text-align: left;
    }
}

/*----------------------
Hero image rules
----------------------*/

#hero{ /*# = id*/
    background: gray;
    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url('img/jojo_hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh; /*vh = video height*/
}

#hero h1, #hero h3{
    font-size: 28px;
    text-shadow: 2px 2px #000; /*2 pixels down, 2 pixels to the right, black*/
    margin-bottom: 40px;
}

#hero h1{
    font-size: 60px;
    margin-bottom: 15px;
}

#hero a.btn{ /*hero id, anchor tag with the class btn*/
    color: white;
    background-color: darkblue;
    text-decoration: none;
    padding: 20px 46px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    opacity: 1;
    border: 2px solid white;
}

#hero a.btn:hover{ /*hover state for the btn*/
    background-color: green;
}

@media(max-width:800px){
    #hero{
        min-height: 600px;
    }
    #hero h1{
        font-size: 30px;
    }
    #hero h3{
        font-size: 20px;
    }
    #hero a.btn{ /*hero id, anchor tag with the class btn*/
        padding: 15px 40px;
    }
}


/*-------------------
Footer
-------------------*/
footer{
    background-color: #131622;
    color: antiquewhite; /*text color*/
    text-align: center;
    background: linear-gradient(to bottom, #284e7a, #000 100%); /*to bottom = direction, color1, color2, transparency faade thing percentage*/
    padding: 60px 0; /*60 pixles on the top and bottom, 0 pixels left and right*/

    display: flex; /*everything in the footer tag can now be edited with flex commands, this forces everything in the footer tag into 1 row*/
    flex-direction: column; /*changed everything in footer to a column layout instead of a row*/
    align-items: center; /*everything in the footer tag is now center aligned*/
}
footer p{
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255,255,255,.6); /*.6 = transparency, rgba where a = alpha */
    margin-bottom: 10px;
}
footer ul{
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
}
footer ul li{
    margin: 0px 8px;
}
footer ul li a{
    font-size: 36px;
    cursor: pointer;
}
@media(max-width: 800px){
    footer{
        padding: 80px 15px;
    }
}
